<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f5e5e3">  <td>19/02/26 17:30:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_MergeLeads.MergeLeads()[pri:0, instance:bl.framework.testcases.TC002_MergeLeads@c0a365]">MergeLeads</td> 
  <td>main@30504695</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>19/02/26 17:30:24</td>   <td>-72</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:bl.framework.testcases.TC002_MergeLeads@c0a365]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@30504695</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>19/02/26 17:30:23</td>   <td>-1101</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:bl.framework.testcases.TC002_MergeLeads@c0a365]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@30504695</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/02/26 17:30:24</td>   <td>-90</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_MergeLeads.setData()[pri:0, instance:bl.framework.testcases.TC002_MergeLeads@c0a365]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@30504695</td>   <td></td> </tr>
</table>
