<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>smoke</td><td>TC001_LoginAndLogout.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@9ba398]<br/></td></tr>
</table>
