<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93dd95">  <td>19/02/26 17:35:31</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@9ba398]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/02/26 17:35:33</td>   <td>1059</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginAndLogout.setData()[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@9ba398]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>19/02/26 17:35:33</td>   <td>1060</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_MergeLeads.setData()[pri:0, instance:bl.framework.testcases.TC002_MergeLeads@17b4f4c]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/02/26 17:35:33</td>   <td>1095</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@9ba398]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/02/26 17:35:36</td>   <td>4672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@9ba398]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/02/26 17:36:11</td>   <td>39919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@9ba398]">createLead</td> 
  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/02/26 17:36:22</td>   <td>50683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@9ba398]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/02/26 17:36:41</td>   <td>69970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@9ba398]">createLead</td> 
  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/02/26 17:36:51</td>   <td>79422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@9ba398]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/02/26 17:37:12</td>   <td>100657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@9ba398]">createLead</td> 
  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/02/26 17:37:25</td>   <td>113142</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:bl.framework.testcases.TC002_MergeLeads@17b4f4c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/02/26 17:37:25</td>   <td>113144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC002_MergeLeads@17b4f4c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>19/02/26 17:37:53</td>   <td>141390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_MergeLeads.MergeLeads()[pri:0, instance:bl.framework.testcases.TC002_MergeLeads@17b4f4c]">MergeLeads</td> 
  <td>main@18999315</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/02/26 17:39:03</td>   <td>211883</td> <td title="&lt;&lt;ProjectMethods.endSuite()[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@9ba398]">&lt;&lt;endSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18999315</td>   <td></td> </tr>
</table>
